
/* local path, dont forget that ~@/ in the url */
@font-face {
    font-family : 'Oswald';
    font-style  : normal;
    src         : url('@/assets/fonts/Oswald-VariableFont_wght.ttf') format('truetype-variations')
}

@font-face {
    font-family : 'Acetone';
    font-style  : normal;
    src         : url('@/assets/fonts/Acetone-w1gn6.ttf') format('truetype')
}



.font-acetone {
    font-family : 'Acetone', sans-serif !important;
}

* {
    font-family : 'Oswald', sans-serif !important;
    font-size   : 1rem;
    margin      : 0;
    padding     : 0;
    box-sizing  : border-box;
}

.v-btn{
    text-transform: none !important;
}

.v-btn__prepend > i{
    display: block;
}


$typography: (
    'display-large': (
        font-family: ("Oswald", sans-serif),
        font-style: normal,
        font-weight: 400,
        font-size: 57px,
        line-height: 64px,
    ),
    'display-medium': (
        font-family: ('Oswald', sans-serif),
        font-style: normal,
        font-weight: 400,
        font-size: 45px,
        line-height: 52px,
    ),
    'display-small': (
        font-family: ('Oswald', sans-serif),
        font-style: normal,
        font-weight: 400,
        font-size: 36px,
        line-height: 44px,
    ),
    'headline-large': ( 
        font-family: ('Oswald', sans-serif),
        font-style: normal,
        font-weight: 400,
        font-size: 32px,
        line-height: 40px,
    ),
    'headline-medium': (
        font-family: ('Oswald', sans-serif),
        font-style: normal,
        font-weight: 400,
        font-size: 28px,
        line-height: 36px,
    ),
    'headline-small': (
        font-family: ('Oswald', sans-serif),
        font-style: normal,
        font-weight: 400,
        font-size: 24px,
        line-height: 32px,
    ),
    'title-large': (
        font-family: ('Oswald', sans-serif),
        font-style: normal,
        font-weight: 400,
        font-size: 22px,
        line-height: 28px,
    ),
    'title-medium': (
        font-family: ('Oswald', sans-serif),
        font-style: normal,
        font-weight: 500,
        font-size: 16px,
        line-height: 24px,
        letter-spacing: 0.15px,
    ),
    'title-small': (
        font-family: ('Oswald', sans-serif),
        font-style: normal,
        font-weight: 500,
        font-size: 14px,
        line-height: 20px,
        letter-spacing: 0.1px,
    ),
    'label-large': (
        font-family: ('Oswald', sans-serif),
        font-style: normal,
        font-weight: 500,
        font-size: 14px,
        line-height: 20px,
        letter-spacing: 0.1px,
    ),
    'label-medium': (
        font-family: ('Oswald', sans-serif),
        font-style: normal,
        font-weight: 500,
        font-size: 12px,
        line-height: 16px,
        letter-spacing: 0.5px,
    ),
    'label-small': (
        font-family: ('Oswald', sans-serif),
        font-style: normal,
        font-weight: 500,
        font-size: 11px,
        line-height: 16px,
        letter-spacing: 0.5px,
    ),
    'body-large': (
        font-family: ('Oswald', sans-serif),
        font-style: normal,
        font-weight: 400,
        font-size: 16px,
        line-height: 24px,
        letter-spacing: 0.5px,
    ),
    'body-medium': (
        font-family: ('Oswald', sans-serif),
        font-style: normal,
        font-weight: 400,
        font-size: 14px,
        line-height: 20px,
        letter-spacing: 0.25px,
    ),
    'body-small': (
        font-family: ('Oswald', sans-serif),
        font-style: normal,
        font-weight: 400,
        font-size: 12px,
        line-height: 16px,
        letter-spacing: 0.4px,
    ),
);

@each $name,$value in $typography{
    .fg-#{$name}{
        font-family: map-get($value,font-family) !important; 
        font-style: map-get($value,font-style);
        font-weight: map-get($value,font-weight);
        font-size: map-get($value,font-size);
        line-height: map-get($value,line-height);
        letter-spacing: map-get($value,letter-spacing);
    }
}

@each $name,$value in $typography{
    .fg-#{$name}-acetone{
        font-family: 'Acetone' !important; 
        font-style: map-get($value,font-style);
        font-weight: map-get($value,font-weight);
        font-size: map-get($value,font-size);
        line-height: map-get($value,line-height);
        letter-spacing: map-get($value,letter-spacing);
    }
}

