@import './base.scss';

html {
  height: 100%;
}

body {
  background-color: #1F1B16;
  min-height: 100% !important;
  height: 100%;
}

#app {
  height: 100%;
}

.flex {
  display: flex;
}

.w100 {
  width: 100%;
}

.h100 {
  height: 100%;
}

.justContCenter {
  justify-content: center;
}

.itemsEnd {
  align-items: flex-end;
}

.itemsCenter {
  align-items: center;
}

* {
  font-family: "Roboto", sans-serif;
}
